#navBarContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    padding: 10px 10vw;
    color: white;
}

#navBarContainer div a {
    color: white;
    text-decoration: none;
    font-size: calc(1vw + 0.5vh);
}

#navBarContainer div a:hover,
#navBarContainer div a.active {
    color: #CEAA62;
}

.cartLogo {
    width: calc(2vw + 0.5vh);
}

nav {
    padding: 0;
}
.avatar-icon {
    width: calc(2vw + 0.5vh);
  }

/* @media screen and (max-width: 1150px) {
    #navBarContainer {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: hsla(0, 0%, 6%, 0.2);
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        width: 80%;
        height: 100%;
        padding: 6rem 3rem 0;
        transition: right 0.4s;
    }
} */