.card {
    border-radius: 0 0 10px 10px;
    width: 231px;
    /* height: 341.89px; */
    background-color: #D9D9D9;
}

.imgListProduct {
    max-width: 231px;
    width: auto;
    border-radius: 10px 10px 0 0;
}

.categoryContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    padding: 0 150px 50px 150px;
}

#productContainerId li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.categoryTitle {
    font-size: calc(2vw + 0.5vh);
    font-weight: bold;
    margin: 20px;
    text-align: center;
    color: #000000;
}

a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

#textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

#textContainer h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    line-height: 1.2;
}